extends layout

block content
  img(src onerror="setClickedID('aboutID')")
  h1(style="width: 100%; text-align: center;" onload="setClickedID('aboutID')") Team Members
  div(class="nameSec")
    p Rimsha Amer
    p Ibraheem Ahmed
    p Farhan Atif
