extends layout

block content
    img(src onerror="setClickedID('affiliationsID')")
    h1(style="width: 100%; text-align: center;") Welcome
    div(class="nameSec")
        p Welcome to Affiliations Page
